html {
    overflow-y: scroll; /* Force scrollbar to always show */
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* For Firefox */
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scroll-lock {
    overflow: hidden !important;
    width: 100vw;
}

body{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
    height: 100vh;
    margin-right: calc(100vw - 100%); /* Prevent layout shift */
    margin: 0;


}

.header-container{
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    font-family: 'Mabry Pro';
    user-select: none;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
    transform: translateZ(0); /* Create new stacking context */
}


.header {
    background: var(--header-background);
    box-shadow: var(--glassmorphism);
    backdrop-filter: var(--backdrop-blur);
    -webkit-backdrop-filter: blur(120px);
    height: var(--navbar-height);
    min-width: 15dvw;
    border-radius: 99rem;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}

.logo-button {
    position: inherit;
    font-family: inherit;
    font-weight: 100;
    font-size: 2rem;
    justify-content: center;
    padding: 0 0 0 1em;
    margin: 0;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    background: none;
    pointer-events: none;
}

.logo-icon::before{
    content: '';
    height: 2.2rem;
    width: 2.3rem;
    background-image: url('Icons/G.svg');
    background-size: cover;
    background-position: left;
    display: block;
    position: relative;
    left: 7%;
    transform: translate(-50%);
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2em;
    gap: 1.5em;
}

.nav-button{
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}


.stills-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    object-fit: contain;
    margin: 7rem 0 0 0;
    padding: 0 10rem;
    overflow-x: visible;
    gap: 0rem;
    transition: all 0.3s ease-in-out;
}

.group-container {
    overflow-x: visible;
}

.group-title {
    font-family: 'Mabry Pro';
    color: var(--group-title-color);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    transition: color 0.3s, color 0.3s;
}

.group-images {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 1.5rem 0 3rem 0;
    max-width: 98dvw;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.group-images::-webkit-scrollbar {
    display: none;
}

.group-images::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.group-images::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}


.image-container{
    flex: 0 0 auto;
    max-width: 500px;
    min-width: 30%;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    object-fit: contain;
    cursor: url('Cursors/focus.svg') 12 12, pointer;
}

.styled-still{
    width: 100%;
    border-radius: .8rem;
    transition: all 0.2s ease-in-out;
    cursor: url('Cursors/focus.svg') 12 12, pointer;
    transition: all 0.3s ease-in-out;
}

.styled-still:hover{
    transform: scale(1.01);
    border-radius: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.overlay.active {
    background: var(--overlay-background);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(50px);
    opacity: 1;
    pointer-events: all;
    cursor: url('Cursors/back-arrow.svg') 12 12, pointer;
    user-select: none;
}

.expanded-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90dvh;
    max-width: 90dvw;
    overflow: hidden;
    border-radius: 1rem;
    object-fit: contain;
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    user-select: none;
}

.expanded-image-container.active {
    transform: scale(1);
    opacity: 1;
}

.expanded-image {
    height: 100%;

}

.expanded-image.active {
    transform: scale(1);
    opacity: 1;
}

.footer{
    width: 100%;
    padding: 5rem 0 2rem 0;
    font-family: 'Mabry Pro';
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    transition: color 0.3s ease-in-out;
}


@media screen and (max-width: 800px) {
    .header-container{
        margin: 1rem 0 0 0;
    }

    .header {
        height: calc(var(--navbar-height) - .5rem);
    }

    .logo-button {
        font-size: 1.5rem;
    }

    .nav-buttons{
        padding: 0 1em;
    }

    .nav-button{
        font-size: 0.8rem;
    }

    .stills-container{
        padding: 0 1rem;
    }

    .group-title {
        font-size: 1.5rem;
    }

    .group-images {
        padding: 1rem 0 2rem 0;
    }

    .image-container{
        max-width: 300px;
        min-width: 30%;
    }

    .styled-still{
        border-radius: .5rem;
    }

    .footer{
        padding: 2rem 0 1rem 0;
    }

}

