<div class="header-container">
    <header class="header">
        <button @click="currentPage = 'me'" class="logo-button"><span class="logo-icon"></span></button>
        <div class="nav-buttons">

            <button @click="currentPage = 'photos'" :class="{ 'active': currentPage === 'photos' }"
                class="nav-button">photos</button>
            
            <button @click="currentPage = 'stills'" :class="{ 'active': currentPage === 'stills' }"
                class="nav-button">video stills</button>
        
            <button @click="currentPage = 'me'" :class="{ 'active': currentPage === 'me' }"
                class="nav-button">me</button>

             <a href="/portfolio/pdf/portfolio-design.pdf" target="_blank" class="portfolio_link">designs<span> ↗</span></a>
            
    </header>
    <button @click="theme = (theme === 'dark' ? 'light' : 'dark')" class="theme-toggle">
    </button>
</div>
