html{
    margin-top: 10rem;
}

body{
    color: var(--text-color);
    font-family: 'Mabry Pro';
}

.cv-body{
    background: var(--header-background);
    border-top: 1px solid var(--header-border);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(120px);
    width: 80dvw;
    height: 80dvh;
    border-radius: 1rem;
    padding: 2rem 0 0 3rem;
    
}

.self-presentation{
    font-size: 3rem;
    font-weight: 300;
    width: 20em;
    letter-spacing: -.07rem;
}

.personal-information-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0;
}

.personal-information{
    font-size: inherit;
    font-weight: 400;
    width: 20em;
}

.information-title{
    padding: 1.5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.mail{
    font-size: 1rem;
    font-weight: 400;
}
