<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/components/me.css">
</head>

<body>
    <div class="me-content" id="me-content">
        
        <div class="cv-title"></div>

        <div class="cv-body">

            <div class="self-presentation"></div>

            <div class="personal-information-section">

                <div class="name"></div>
                <div class="date-of-birth"></div>
                <div class="place-of-birth"></div>
                <div class="contacts"></div>
                <div class="external-links"></div>

            </div>
        </div>
    </div>
</body>

</html>