<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/components/me.css">
</head>

<body>
    <div class="me-content" id="me-content">

        <div class="cv-section-1">

            <div class="self-presentation">I'm <b>Giuseppe Caruso</b>, a media engineering student with
                passion for <i>video</i>, <b>gra<u>phi</u>cs</b> and <u>design</u>.</div>

            <div class="personal-information-section">

                <div class="personal-information"><span class="text-muted"><i> born on </i></span> 03.04.2000</div>
                <div class="personal-information"> <span class="text-muted"><i> in</i></span> Noto (SR), Sicily</div>
                <div class="contacts">
                    <div class="information-title">Get in touch</div>
                    <span class="space-small"></span>
                    <div class="contact mail">
                         <span class="text-muted text-small"><i>personal email</i></span> <span class="semibold">giuseppe.caruso.sc@gmail.com</span>
                    </div>

                    <div class="contact mail-2"> <span class="text-muted text-small"><i>or</i></span> <span class="semibold">s334105@studenti.polito.it</span></div>
                    <div class="contact phone"> <span class="text-muted text-small"><i>my phone</i></span> <span class="semibold">(+39) 392 580 8834</span> </div>
                    <div class="instagram"> <span class="text-muted text-small"><i>insta</i></span> <span class="username"><a rel="noopener noreferrer" target="_blank" href="https://instagram.com/giuseppe_caruso00">@giuseppe.caruso00</a></span></div>
                </div>
            </div>
        </div>

        <div class="cv-section-2">

            <div class="education-title">Education</div>

            <div class="education-section">
           
                <div class="degree">Master’s Degree in Media Engineering.</div>
                <div class="institution text-muted">Politecnico di Torino, <span>up to present.</span></div>
            
                <div class="degree">Bachelor’s Degree in Cinema & Media Engineering.</div>
                <div class="institution text-muted">Politecnico di Torino, <span>21.04.2024.</span></div>
            
                <div class="degree">High School Degree “Liceo Scientifico P.N.I. Math & Physics”.</div>
                <div class="institution text-muted">Matteo Raeli High School, Noto, <span>2019.</span></div>
            </div>
        </div>
    </div>
</body>

</html>