<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/components/me.css">
</head>

<body>
    <div class="me-content" id="me-content">

        <div class="cv-section">

            <div class="self-presentation">I'm <b>Giuseppe Caruso</b>, a media engineering student with
                passion for <i>video</i>, <b>gra<u>phi</u>cs</b> and <u>design</u>.</div>

            <div class="personal-information-section">

                <div class="personal-information">03.04.2000</div>
                <div class="personal-information">Noto (SR), Sicily</div>
                <div class="contacts">
                    <div class="information-title"><u>Contacts</u></div>

                    <div class="contact">
                        <span> <img src="/Icons/moon.svg" alt=""></span>
                        giuseppe.caruso.sc@gmail.com
                    </div>

                    <div class="contact">s334105@studenti.polito.it</div>
                    <div class="contact">+39 392 580 8834</div>
                </div>
            </div>
            <div class="external-links">
                <div class="instagram">@giuseppe.caruso00</div>
            </div>

        </div>
    </div>
</body>

</html>