<div class="photos-grid">   
    <div class="photos-content" x-data="photosComponent()">
        <div class="photo-grid">
            <template x-for="photo in photos" :key="photo.id">
                <div class="photo-item">
                    <img :src="'photos/' + photo.filename" :alt="photo.description" 
                         @click="openPhotoModal(photo)">
                    <div class="photo-caption" x-text="photo.description"></div>
                </div>
            </template>
        </div>
    </div>
</div>