.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.overlay.active {
    background: var(--overlay-background);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(50px);
    opacity: 1;
    pointer-events: all;
    cursor: url('../Cursors/back-arrow.svg') 12 12, pointer;
    user-select: none;
}

.expanded-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 95dvh;
    max-width: 95dvw;
    overflow: hidden;
    border-radius: 1rem;
    object-fit: contain;
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    user-select: none;
}

.expanded-image-container.active {
    transform: scale(1);
    opacity: 1;
}

.expanded-image {
    max-height: 92vh; /* Limit height to leave room for caption */
    max-width: 95vw; /* Limit width to viewport */
    width: auto; /* Important - let width be determined by height */
    height: auto; /* Important - let height be determined by width */
    object-fit: contain; /* This is key for maintaining aspect ratio */
    display: block; /* Remove any inline behavior */
    border-radius: 0.5rem;
}

.expanded-image.active {
    transform: scale(1);
    opacity: 1;
}

body.scroll-lock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
  }